.job_seeker_login input.job_seeker_email, .job_seeker_login input.job_seeker_password{
	 width: 205px; 
	 height: 15px; 
	 padding-top:5px;
	 padding-bottom:5px;
	 border-radius: 4px; 
	 -moz-border-radius: 4px; 
	 -webkit-border-radius: 4px; 
	 background-color: #f0f0f0; 
	 font-size: 15px; 
	 }
.jb_input1, .jb_input2, .jb_input3, .jb_input4,#radius,.jb_input75 { 
	 
	height: 15px; 
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	background-color: #ffffff; 
	border: 1px solid #CCCCCC; 
	font-size:14px; 
	}
#radius{
	height: 27px !important;
	padding-top:0px;
	padding-bottom:0px;
	}