.advertiseStyle{
		border: 2px solid white;
		background-image : url(../resources/images/ads/banner_ad_fpo.png);
		}
	.details{
	/* border-top:0 ;
	border-right:1px solid;
	border-bottom:1px Solid;
	border-left:1px solid; */
	border-left: 1px solid #FE9400;
	border-right: 1px solid #FE9400;
	border-bottom: 1px solid #FE9400;
	

	}
	.leftCornerBorder{
	border-left: 1px solid #FE9400;
	border-top: 1px solid #FE9400;
	}
	.middleBorder{
	border-top: 1px solid #FE9400;
	}
	.rightCornerBorder{
	border-right: 1px solid #FE9400;
	border-top: 1px solid #FE9400;
	}
