* text=auto !eol
jobboard-common/pom.xml -text
jobboard-common/resources/HibernateSessionFactory.xml -text
jobboard-common/resources/database.properties -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/AddressDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/AgencyProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/AlertsListDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/AnonymousUserJobApplyDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/AppliedJobDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ApplyJobDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/BaseProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/CertificationDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/CompanyProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ContactInformationDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/CountryDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/CoverLetterDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EduDegreeDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EducationDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EmployerProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EmploymentInfoDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EmploymentTypeDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/EthenticityDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ExcludeFromDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/FromZipcodeDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/GenderDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobAlertsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobPostedDateDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobSeekerProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobSeekerRegistrationDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobSeekerSubscriptionsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/JobsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/LanguageDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/MMXmlResumeParserImpl.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/MagazinesDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/MerUserDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/MetricsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/MetroAreaDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/PackageInformationDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ProfileDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/RadiusDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ReferenceDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ResumeDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/ResumeWordDocumentDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/SaveSearchedJobsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/SavedJobDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/SearchedJobDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/StateDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/SubscriptionListDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/SubscriptionsDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/VeteranStatusDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/WorkExpDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/XmlResumeParser.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/email/EmailDTO.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/email/MMEmail.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/common/email/MMEmailService.java -text
jobboard-common/src/main/java/com/advanceweb/afc/jb/dto/CreateResumeDTO.java -text
jobboard-common/src/test/java/com/advanceweb/afc/common/AppTest.java -text
jobboard-core/pom.xml -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/employer/service/AgencyRegistration.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/employer/service/EmployerRegistration.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/employer/service/ManageFeatureEmployerProfile.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/employer/service/ManageFeatureEmployerProfileService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/AnonymousUserJobApply.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/AnonymousUserJobApplyImpl.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSearch.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSearchActivity.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSearchActivityService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSearchAdapter.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSeekerActivity.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobSeekerActivityService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/Jobs.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/JobsService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/SaveSearchService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/job/service/SaveSearchServiceImpl.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/jobseeker/service/JobSeekerRegistration.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/jobseeker/service/JobSeekerSubscriptions.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/jobseeker/service/JobSeekerSubscriptionsService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/lookup/service/PopulateDropdowns.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/lookup/service/PopulateDropdownsImpl.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/resume/ResumeSearch.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/resume/ResumeSearchAdapter.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/resume/ResumeService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/resume/ResumeServiceImpl.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/search/engine/solr/JobSearchDTO.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/search/engine/solr/ResumeService.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/search/engine/solr/SearchResultDTO.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/search/engine/solr/SolrAdapter.java -text
jobboard-core/src/main/java/com/advanceweb/afc/jb/user/ProfileRegistration.java -text
jobboard-core/src/test/java/com/advanceweb/afc/jb/ServiceTest.java -text
jobboard-core/src/test/java/com/advanceweb/afc/jb/resume/ResumeServiceTest.java -text
jobboard-data/pom.xml -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/common/util/DateUtils.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/domain/Agency.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/domain/Employer.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/domain/Job.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/domain/JobSeeker.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/domain/Resume.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmFacility.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmFacilityGroup.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmFacilitySystem.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmPermission.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmRole.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacility.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacilityGroup.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacilityGroupPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacilityPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacilitySystem.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserFacilitySystemPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserRole.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/AdmUserRolePK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/FacilityJobTmp.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpAddon.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJob.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobAddon.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobAddonPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobLocation.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobLocationBckup.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobLocationPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobTemp.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpJobType.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpLocation.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpLocationBckup.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpSaveJob.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpSaveSearch.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/JpSource.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerApplication.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerLocation.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerLookup.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerProfileAttrib.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUser.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUserAlerts.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUserApplication.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUserApplicationPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUserProfile.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MerUserProfilePK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MetaSearchIndex.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MetaSearchInput.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MetaSearchParam.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MetaSearchQueryHistory.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/MetaSearchType.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResBuilderCertification.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResBuilderEdu.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResBuilderEmployment.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResBuilderReference.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResBuilderResume.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResDegreeEdu.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResPrivacy.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResPublishResume.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResPublishResumePriv.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/ResUploadResume.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/StgSessionEvent.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/StgSessioninfo.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstClickthrough.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstClickthroughType.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstEventType.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstInfoType.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSearch.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSearchResult.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSearchResultPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSessionEvent.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSessionEventInfo.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSessionEventInfoPK.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/data/entities/VstSessioninfo.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/AgencyRegistrationDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/AgencyRegistrationDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/EmployerRegistrationDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/EmployerRegistrationDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/ManageFeatureEmployerProfileDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/dao/ManageFeatureEmployerProfileDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/employer/helper/EmployerRegistrationConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/AnonymousUserJobApplyDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/AnonymousUserJobApplyDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/JobSearchActivityDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/JobSearchActivityDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/JobsDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/dao/JobsDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/job/helper/AnonymousUserJobApplyConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerActivityDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerActivityDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerRegistrationDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerRegistrationDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerSubscriptionsDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/JobSeekerSubscriptionsDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/SaveSearchDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/dao/SaveSearchDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/helper/JobSearchActivityConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/helper/JobSeekerActivityConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/helper/JobSeekerSubscriptionsConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/jobseeker/helper/SaveSearchConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/lookup/dao/PopulateDropdownsDAO.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/lookup/dao/PopulateDropdownsDAOImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/lookup/helper/PopulateDropdownConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/resume/dao/ResumeDao.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/resume/dao/ResumeDaoImpl.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/resume/helper/ResumeConversionHelper.java -text
jobboard-data/src/main/java/com/advanceweb/afc/jb/user/helper/RegistrationConversionHelper.java -text
jobboard-data/src/test/java/com/advanceweb/afc/data/AppTest.java -text
jobboard/pom.xml -text
jobboard/src/main/java/com/advanceweb/afc/jb/employer/web/controller/EmployerProfileManagementController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/employer/web/controller/EmployerRegistrationController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/employer/web/controller/EmployerRegistrationForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/employer/web/controller/TransformEmployerRegistration.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/job/web/controller/AnonymousUserJobApplyForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/job/web/controller/JobSearchResultForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/job/web/controller/JobSearchViewDetailForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/AnonymousUserJobApplyController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/ContactInfoForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSearchActivityController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerActivityController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerAdvanceSearchController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerProfileManagement.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerRegistrationController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerRegistrationForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerRegistrationValidation.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerSubscriptionForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobSeekerSubscriptionsController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/JobseekerAdvanceSearch.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/SaveSearchController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/SaveSearchForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/TransformAnonymousUserJobApply.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/TransformJobSeekerRegistration.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/TransformJobSeekerSubscription.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/jobseeker/web/controller/applyJobForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/CertificationsForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/CreateResume.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/EducationForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/LanguageForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/ReferenceForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/ResumeController.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/TransformCreateResume.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/resume/web/controller/WorkExpForm.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/web/utils/Constants.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/web/utils/CopyUtil.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/web/utils/ReadDocFile.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/web/utils/ReadFile.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/web/utils/ReadSolrServerDetails.java -text
jobboard/src/main/java/com/advanceweb/afc/jb/webapp/web/controllers/jspviewcontents/JspViewContentController.java -text
jobboard/src/main/java/common.properties -text
jobboard/src/main/resources/careertool.html -text
jobboard/src/main/resources/healthcarenews.html -text
jobboard/src/main/resources/viewcareerlinkContents.html -text
jobboard/src/main/webapp/WEB-INF/applicationContext.xml -text
jobboard/src/main/webapp/WEB-INF/dispatcher-servlet.xml -text
jobboard/src/main/webapp/WEB-INF/jsp/copyPasteResumeText.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/createResume.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/createresumebuilder.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/employerregistration.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/findjob.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/jobSeekerActivity.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/jobsearchresult.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/jobseekerregistration.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/jobseekersubscription.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/jspviewcontent.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/manageFeatureEmpPro.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/registrationsuccess.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/uploadfile.jsp -text
jobboard/src/main/webapp/WEB-INF/jsp/uploadfileindex.jsp -text
jobboard/src/main/webapp/WEB-INF/solrConfiguration.properties -text
jobboard/src/main/webapp/WEB-INF/web.xml -text
jobboard/src/main/webapp/index.jsp -text
jobboard/src/main/webapp/js/jquery-1.3.2.min.js -text
jobboard/src/main/webapp/js/jquery-ui-1.7.custom.min.js -text
jobboard/src/main/webapp/resources/css/basic.css -text
jobboard/src/main/webapp/resources/css/basic_ie.css -text
jobboard/src/main/webapp/resources/css/demo.css -text
jobboard/src/main/webapp/resources/css/displaytag.css -text
jobboard/src/main/webapp/resources/css/screen.css -text
jobboard/src/main/webapp/resources/css/site.css -text
jobboard/src/main/webapp/resources/img/Thumbs.db -text
jobboard/src/main/webapp/resources/img/arrow_down.png -text
jobboard/src/main/webapp/resources/img/arrow_off.png -text
jobboard/src/main/webapp/resources/img/arrow_up.png -text
jobboard/src/main/webapp/resources/img/basic/x.png -text
jobboard/src/main/webapp/resources/img/ico_file_csv.png -text
jobboard/src/main/webapp/resources/img/ico_file_excel.png -text
jobboard/src/main/webapp/resources/img/ico_file_pdf.png -text
jobboard/src/main/webapp/resources/img/ico_file_rtf.png -text
jobboard/src/main/webapp/resources/img/ico_file_xml.png -text
jobboard/src/main/webapp/resources/img/paginazione.png -text
jobboard/src/main/webapp/resources/img/paginazione_ahead.png -text
jobboard/src/main/webapp/resources/img/paginazione_back.png -text
jobboard/src/main/webapp/resources/js/basic.js -text
jobboard/src/main/webapp/resources/js/contact.js -text
jobboard/src/main/webapp/resources/js/jquery.displaytagdetail.js -text
jobboard/src/main/webapp/resources/js/jquery.js -text
jobboard/src/main/webapp/resources/js/jquery.simplemodal.js -text
jobboard/src/main/webapp/resources/js/user.js -text
/pom.xml -text
