<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<security:http auto-config="false" use-expressions="true"
		access-denied-page="/healthcarejobs/advanceweb.html" entry-point-ref="authenticationEntryPoint">


		<security:intercept-url pattern="/healthcarejobs/advanceweb.html"
			access="permitAll" />
		<security:intercept-url pattern="/commonLogin/login.html"
			access="permitAll" />
		<security:intercept-url
			pattern="/jobseekerregistration/saveJobSeekerProfile.html" access="permitAll" />
		<security:intercept-url
			pattern="/jobseekerregistration/createJobSeekerYourInfo.html" access="permitAll" />
		<security:intercept-url
			pattern="/jobseekerregistration/createJobSeekerCreateYrAcct.html"
			access="permitAll" />
		<security:intercept-url pattern="/jobsearchactivity/**"
			access="permitAll" />
		<security:intercept-url pattern="/jobSeeker/jobSeekerDashBoard.html"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/savedSearches/**"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/subscriptions/**"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/jobSeekerActivity/**"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/jobSeeker/**"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/jobSeekerResume/**"
			access="hasRole('ROLE_JOB_SEEKER')" />
		<security:intercept-url pattern="/savedSearches/**"
			access="permitAll" />



		<security:logout success-handler-ref="customLogoutSuccessHandler"
			invalidate-session="true" logout-url="/jobboard/logout" />


		<security:custom-filter ref="authenticationFilter"
			position="FORM_LOGIN_FILTER" />
	</security:http>

	<bean id="authenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter"
		p:authenticationManager-ref="customAuthenticationManager"
		p:authenticationFailureHandler-ref="customAuthenticationFailureHandler"
		p:authenticationSuccessHandler-ref="customAuthenticationSuccessHandler" />

	<bean id="customAuthenticationManager"
		class="com.advanceweb.afc.jb.security.DatabaseAuthenticationManager " />

	<bean id="customAuthenticationFailureHandler"
		class="com.advanceweb.afc.jb.login.web.controller.LoginFailureManager" />

	<bean id="customAuthenticationSuccessHandler"
		class="com.advanceweb.afc.jb.login.web.controller.LoginSuccessManager" />


	<bean id="customLogoutSuccessHandler"
		class="com.advanceweb.afc.jb.login.web.controller.LogoutSuccessManager" />

	<bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
		p:loginFormUrl="/healthcarejobs/advanceweb.html" />

	<security:authentication-manager />
</beans>
